<h2><%= @talk.title %></h2>
<p><%= @talk.created_at %> | <%= @talk.user.email %></p>
<p><%= render_markdown(@talk.abstract) %></p>
<% if user_signed_in? && @talk.user == current_user %>
  <p>
    <%= link_to 'Edit', edit_talk_path(@talk) %>
    |
    <%= link_to 'Destroy', talk_path(@talk), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>

<%= link_to 'New comment', new_talk_comment_path(@talk) %>


<% if user_signed_in? %>
	<%= render 'shared/attachment_form' %>
	<%= link_to "Zapisz sie", new_talk_attendance_path(@talk) %> 
<% end %>

<% unless @talk.users.empty? %>
	<p>Attendant users:</p> 
	<table>
		<%= render @users %>
	</table> 
	<%= will_paginate @users %>
<% end %>

<% unless @talk.attachments.empty? %>
	<p>Attachements:</p> 
	<ul>
		<%= render @attachments %>
	</ul> 
	<%= will_paginate @attachments %>
<% end %>


<% @talk.comments.each do |c| %>
  <p><%= render_markdown(c.text) %></p>
  <p><%= c.created_at %> | <%= c.user.email %></p>
<% end %>
