<h1><%= @talk.title %></h1>
<p class="smallfont"> Temat stworzony przez: <%= @talk.user.email %> w dniu: <%= trimDate(@talk.created_at) %></p>
Opis:
<div class="talkcontent round">
<p><%= render_markdown(@talk.abstract) %></p>
</div>
<% if user_signed_in? && @talk.user == current_user %>
  <p>
    <%= link_to 'Edit', edit_talk_path(@talk) %>
    |
    <%= link_to 'Destroy', talk_path(@talk), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Zapisz sie", new_talk_attendance_path(@talk) %>
<% end %>
<br/>

<% if user_signed_in? %>
<button id="wgrajplik">Wgraj plik</button>
  <div class="attachment">
	<%= render 'shared/attachment_form' %>
	</div>
<% end %>
<br/>

<% unless @talk.users.empty? %>
	<button id="attendants">Pokaż kursantów</button>
	<div class="attendants">
	<table>
		<%= render @users %>
	</table> 
	<%= will_paginate @users, :param_name => :users_page%>
	</div>
<% end %>
<br />

<% unless @talk.attachments.empty? %>
	<button id="attachments">Pokaż załączniki</button>
	<div class="attachments">
	<ul>
		<%= render @attachments%>
	</ul> 
	<%= will_paginate @attachments, :param_name => :attachments_page  %>
	</div>
<% end %>
<br />

<% unless @talk.comments.empty? %>
<button id="comments">Pokaż komentarze</button>
<div class="comments">
<%= link_to 'New comment', new_talk_comment_path(@talk) %>
	<table>
	<%= render @comments %>
	</table>
	<%= will_paginate @comments,:param_name => :comments_page %>
	</div>
<% end %>
<br />
