<h2><%= @talk.title %></h2>
<p class="smallfont"> Stworzony przez: <%= @talk.user.email %> w dniu: <%= trimDate(@talk.created_at) %></p>
<p>Opis:<p>
<p><%= render_markdown(@talk.abstract) %></p>
<% if user_signed_in? && @talk.user == current_user %>
  <p>
    <%= link_to 'Edit', edit_talk_path(@talk) %>
    |
    <%= link_to 'Destroy', talk_path(@talk), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Zapisz sie", new_talk_attendance_path(@talk) %>
<% end %>

<% if user_signed_in? %>
<div class="kliker">
<p>Wgraj plik:</p>
</div>
  <div class="attachment">
	<%= render 'shared/attachment_form' %>
	</div>
<% end %>


<% unless @talk.users.empty? %>
	<p id="attendants">Zapisani kursanci:</p>
	<div class="attendants">
	<table>
		<%= render @users %>
	</table> 
	<%= will_paginate @users, :param_name => :users_page%>
	</div>
<% end %>

<% unless @talk.attachments.empty? %>
	<p id="attachments">Załączniki:</p>
	<div class="attachments">
	<ul>
		<%= render @attachments%>
	</ul> 
	<%= will_paginate @attachments, :param_name => :attachments_page  %>
	</div>
<% end %>


<% unless @talk.comments.empty? %>
<p id="comments">Komentarze:</p>
<div class="comments">
<%= link_to 'New comment', new_talk_comment_path(@talk) %>
	<table>
	<%= render @comments %>
	</table>
	<%= will_paginate @comments,:param_name => :comments_page %>
	</div>
<% end %>
