<h1><%= @talk.title %></h1>
<p class="smallfont"> Temat stworzony przez: <%= @talk.user.email %> w dniu: <%= trimDate(@talk.created_at) %></p>
Opis:
<div class="talkcontent round">
<p><%= render_markdown(@talk.abstract) %></p>
</div>
<% if user_signed_in? && @talk.user == current_user %>
  <p>
    <%= link_to 'Edit', edit_talk_path(@talk) %>
    |
    <%= link_to 'Destroy', talk_path(@talk), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>

<div class="rateit round">
  <p>Oceń</p>
</div>

<% if user_signed_in? %>
  <%= link_to 'Add event', new_talk_event_path(@talk) %>
<% end %>

<ol>
  <% @talk.events.each do |e| %>
    <li>
    <%= e.scheduled_at %>
    |
    <%= e.user %>
    <% if user_signed_in? && e.user == current_user %>
      |
      <%= link_to 'Edit', edit_talk_event_path(@talk, e) %>
    <% end %>
    <% if user_signed_in? && e.user == current_user %>
      |
      <%= link_to 'Delete', talk_event_path(@talk, e), :confirm => "Are you sure?", :method => :delete %>
    <% end %>
    </li>
    <% unless e.remarks.blank? %>
      <%= render_markdown e.remarks %>
    <% end %>
  <% end %>
</ol>

<% if user_signed_in? %>
  <%= link_to "Zapisz sie", new_talk_attendance_path(@talk) %>
<% end %>
<br/>

<% if user_signed_in? %>
<button id="wgrajplik">Wgraj plik</button>
  <div class="attachment">
	<%= render 'shared/attachment_form' %>
	</div>
<% end %>
<br/>

<%= link_to 'New comment', new_talk_comment_path(@talk) %>

<div id="accordion">
  <div class="round">
    <h3 class="round linka" ><a href="#">Kursanci</a></h3>
    <div id="users_display_section"></div>
  </div>
  <div class="round">
    <h3 class="round linka"><a href="#">Załączniki</a></h3>
    <div id="attachments_display_section"></div>
  </div>
  <div class="round">
    <h3 class="round linka"><a href="#">Komentarze</a></h3>
    <div id="comments_display_section"></div>
  </div>
</div>

<!-- NA STRONIE -->
<%= ratings_for @talk, :dimension => :topic %>
<h3>Temat</h3>
<%= ratings_for @talk, :dimension => :materials %>
<h3>Jakość materiałów</h3>
<%= ratings_for @talk, :dimension => :host %>
<h3>Prowadzący</h3>

<script language="javascript">
$(document).ready(function(){
    $("#users_display_section").load('/talks/<%= params[:id] %>/users_list');
    $("#attachments_display_section").load('/talks/<%= params[:id] %>/attachments_list');
    $("#comments_display_section").load('/talks/<%= params[:id] %>/comments_list');
    
    $('#accordion h3').click(function() {
		$(this).next().toggle('slow');
		return false;
	}).next().hide();//*/
	
    var $dialog = $('<div></div>')
		.load("/talks/<%= params[:id] %>/rateit")
		.dialog({
			autoOpen: false,
			title: 'Oceny'
		});
    
		
	$('.rateit').click(function() {
		$dialog.dialog('open');
		return false;
	});
});

</script>
