<h1>Profil użytkownika</h1>

<h4>Stworzone projekty:</h4>
<% unless @createdprojects.empty? %>
<div class="talks">
	<ol>
		<%= render @createdprojects%>
	</ol> 
	<%= will_paginate @createdprojects, :param_name => :createdprojects_page  %>
	</div>
<% end %>

<h4>Stworzone warsztaty:</h4>
<% unless @createdtalks.empty? %>
<div class="talks">
	<ol>
		<%= render @createdtalks%>
	</ol> 
	<%= will_paginate @createdtalks, :param_name => :createdtalks_page  %>
	</div>
<% end %>

<h4>Tematy do których jesteś zapisany:</h4>
<% unless @talks.empty? %>
	<div class="talks">
	<ol>
		<%= render @talks%>
	</ol> 
	<%= will_paginate @talks, :param_name => :talks_page  %>
	</div>
<% end %>
<br />
