<header>
	<!--a href="/"><h1>Tech Talks</h1></a-->
	
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			
				<% if user_signed_in? %>
				<li>
						<%= link_to 'Profil', user_path(current_user) %>
						</li>
				<% end %>
				<% if user_signed_in? %>
				<li>
						<%= link_to 'Sign out', destroy_user_session_path %>
						</li>                                                    
					<% else %>
					<li>
            <%= link_to 'Sign in', new_user_session_path %>
            or
            <%= link_to 'Sign up', new_user_registration_path %> 
						</li>
				<% end %>
		</ul>
		<% if user_signed_in? %>
		<ul>
			<li>
				<%= current_user.email %>
			</li>
		</ul>
		<% end %>
	</nav>
	<%= link_to logo, root_path %>
</header>

