<header>
	<!--a href="/"><h1>Tech Talks</h1></a-->
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li>
				<% if user_signed_in? %>
						<%= link_to 'Profil', user_path(current_user) %>
				<% end %>
				</li>
			<li>
				<% if user_signed_in? %>
						<%= link_to 'Sign out', destroy_user_session_path %>
					<% else %>
						<%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> 
				<% end %>
				</li>
		</ul>
		<% if user_signed_in? %>
		<ul>
			<li>
				<%= current_user.email %>
			</li>
		</ul>
		<% end %>
	</nav>
</header>
